Package: com.iky1e.libdisplay
Name: LibDisplay
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Developer library for managing and tracking apps.
Maintainer: Kyle Howells
Author: Kyle Howells
Section: Tweaks
